@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */
  --color-primary-900: #f3f3f3;
  --color-secondary-900: #0d0d0d;
  --color-accent-900: #0c76fe;
  --color-accent-400: #64a5fb;
  --color-white-900: #ffffff;

  --font-all: "futura-pt", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
