---
import { Image } from "astro:assets";
import Cirkler from "../assets/images/Cirkler.svg";
import arrow from "../assets/images/footerarrow.svg";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Banner from "../components/Banner.astro";
import Text from "../components/Text.astro";
---

<div id="kontakt" class="bg-accent-400 text-primary-900 grid grid-cols-12 mt-20 md:mt-40 p-10">
  <div class="col-[3_/_span_8] md:col-span-6 md:justify-self-center">
    <Image class="-mt-16 mb-20 intersect:animate-fade-up intersect:animate-once intersect:animate-duration-2000 intersect:animate-ease-out" src={Cirkler} alt="Cirkler i forskellige farver" />
  </div>
  <div class="col-[3_/_span_8] flex items-center justify-between md:gap-20 lg:gap-35 md:col-span-6 md:justify-self-center">
    <div class="flex flex-col">
      <Heading htmlheading="h3" size="medium">Kontakt mig her:</Heading>
      <Link class="uppercase" href="mailto:lulubopsi@gmail.com" variant="primary" size="large">Mail</Link>
      <Link class="uppercase" href="https://www.linkedin.com/in/luna-ring-521175336/" target="_blank" variant="primary" size="large">Linkedin</Link>
      <Text stylingclasses="uppercase py-1 text-3xl md:text-4xl lg:text-5xl">+45 29897097</Text>
    </div>
    <div>
      <a href="#">
        <svg class="hover:fill-orange-900" width="52" height="131" viewBox="0 0 52 131" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.4749 1.52513C27.108 0.158291 24.892 0.158291 23.5251 1.52513L1.25127 23.799C-0.115568 25.1658 -0.115568 27.3819 1.25127 28.7487C2.6181 30.1156 4.83418 30.1156 6.20101 28.7487L26 8.94975L45.799 28.7487C47.1658 30.1156 49.3819 30.1156 50.7487 28.7487C52.1156 27.3819 52.1156 25.1658 50.7487 23.799L28.4749 1.52513ZM26 131L29.5 131L29.5 4L26 4L22.5 4L22.5 131L26 131Z"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
<Banner />
