---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "primary", size = "medium" } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper

const linkStyling = "hover:text-pink-500 hover:underline underline-offset-4 transition-all duration-300 ease-in-out";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter

const variantClasses = {
  primary: "text-blue-600",

  secondary: "",
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.

const sizeClasses = {
  large: "py-3 px-4 text-2xl",

  medium: "py-2 px-3 text-xl",

  small: "py-1 px-2 text-md",
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>
